{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "imageTypes": [".png"],
        "alias": {
          "@screens": "screens",
          "@navigation": "navigation",
          "@types": "types"
        }
      }
    ]
  ]
}
